
.grid-container
{
    background: #7A9E7E;
    border-radius: 10px;
    display: grid;
    /* grid-auto-rows: 50px; */
    /* grid-template-columns: repeat(4, minmax(50px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    place-content: center;

    max-width: 40%;
    min-width: 50px;
    margin: 20px auto;
    padding: 10px;
}

.grid-cell
{
    border-radius: 4px;
    place-content: center;
    aspect-ratio: 1 / 1;
    background-color: #31493C;
    color: white;
}